<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<div>
    <div>
        <div>		
		依据:
		<select ng-model="orderProp">
			<option value="name">名字</option>
			<option value="price">价格</option>
		</select>
		查询: <input ng-model="query">
		</div>
		<div >
			<ul>
				<li ng-repeat="phone in phones | filter:query | orderBy:orderProp" >    
					<p>价格是否超过1000元 {{ phone.price }} {{phone.price > 1000 | checkmark}}</p>
					<a href="#/phones/{{phone.id}}">{{phone.name}}</a>
					<img style="width:60px;height:60px;" ng-src="{{phone.img}}" ng-click="setImage(phone.img)" />
				</li>
			</ul>
		</div>
		<img style="width:200px;height:200px;" ng-src="{{mainImageUrl}}" />
	</div>
</div>
</html>